.button {
  margin: 0;
  box-sizing: border-box;
  height: 56px;
  background-color: $button-bg-color;
  border-radius: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color $effectDuration;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: $main-text-menu;

  &:hover {
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }

  &:focus {
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }

  &:active {
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
  }
}
