.contacts {
  &__wrapper {
    @include page-grid;

    row-gap: 48px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: span 3;
  }

  @include on-desktop {
    grid-column: span 5;
  }

  &__field {
    padding: 14px 16px;
    box-sizing: border-box;
    width: 100%;
    border: none;
    background-color: $form-bg-color;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    &::placeholder {
      color: $placeholder-color;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }

    &:hover {
      border: 1px solid $border-hv-color;
    }

    &:hover::placeholder {
      color: $placeholder-fc-hv-color;
    }

    &:focus {
      border: 1px solid $border-fc-color;
      outline: none;
      color: $placeholder-fc-hv-color;
    }
  }

  &__input {
    margin-bottom: 16px;
    height: 48px;
    border-radius: 40px;
  }

  &__textarea {
    margin-bottom: 32px;
    resize: none;
    height: 148px;
    border-radius: 16px;
  }

  .button {
    width: 100%;
  }
}

.info {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 4 / 7;
  }

  @include on-desktop {
    grid-column: 8 / 11;
  }

  &__item:not(:last-child) {
    margin-bottom: 24px;
  }

  &__label {
    margin: 0;
    margin-bottom: 8px;

    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  &__link {
    margin: 0;
    text-decoration: none;
    color: $main-text-page;

    font-weight: 500;
    font-size: 16px;
    line-height: 140%;

    &:hover {
      color: $placeholder-color;
    }
  }
}
