.main {
  background-color: $main-bg-color;

  &__content {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  &__move-free {
    padding-top: 60px;
    margin-bottom: 92px;

    @include on-tablet {
      padding-top: 120px;
      margin-bottom: 132px;
    }

    @include on-desktop {
      padding-top: 120px;
      margin-bottom: 164px;
    }
  }
  &__compare-bikes {
    margin-bottom: 92px;

    @include on-tablet {
      margin-bottom: 120px;
    }

    @include on-desktop {
      margin-bottom: 144px;
    }
  }
  &__details {
    margin-bottom: 80px;

    @include on-tablet {
      margin-bottom: 120px;
    }

    @include on-desktop {
      margin-bottom: 180px;
    }
  }
  &__contacts {
    margin-bottom: 120px;

    @include on-tablet {
      margin-bottom: 102px;
    }

    @include on-desktop {
      margin-bottom: 164px;
    }
  }
}
