$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$effectDuration: 0.3s;
$main-text-page: #fff;
$main-text-menu: #1d1d1d;
$main-bg-color: #1d1d1d;
$menu-bg-color: #c2c2c2;
$button-bg-color: #fff;
$form-bg-color: #f8f8fa;
$placeholder-color: #7e7e83;
$placeholder-fc-hv-color: #292929;
$border-hv-color: #d5d7de;
$border-fc-color: #292929;
